[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "tensorflow-cmake"]
	path = tensorflow-cmake
	url = https://github.com/mattpaletta/tensorflow-cmake.git
